body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#employees {
  width: 100%;
}

#employees td,
#employees thead {
  border: 1px solid #ddd;
  padding: 3px 8px 3px 8px;
  font-size: small;
}

#employees tr:nth-child(even) {
  background-color: #f2f2f2;
}

#employees thead {
  text-align: left;
  background-color: lightblue;
  color: white;
}
